body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 50px;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 400px;
}
h2 {
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.form-control {
    width: 80%;
    text-align: left;
}
input, select {
    width: 110%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input, select {
    border: 1px solid #ccc;
}
button {
    background: #ff5722;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 37%;
}
button:hover {
    background: #e64a19;
}
.qrCodeView {
    margin-top: 20px;
    padding: 15px;
    background: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
